body{
	font-size:1.2rem;
	font-family: 'Roboto Mono', monospace;
    text-align:center;
}
a{
	text-decoration: none;
	color:black;
}



li{
	list-style: none;
}

h1{
	color: cornflowerblue;
}

.images-div{
	height: 55vh;
	overflow: auto; 
	margin:25px 50px 25px 50px;
    border:1px solid black;
}

.list-images li{
	float:left;
	margin:15px;
    font-size: 0.8rem;
    padding: 2px;
}

nav li{
	float:right;
	margin-right: 25px;
}

main{
    clear:both;
}

.submit_img{
    margin:auto;
    margin-top:25px;
    display:block;
}

.submit_img, .upload-img{
    font-size:1.25rem;
}

main{
    padding-top:25px;
}

.image-container img{
    height:250px;
    width:250px;
    border:1px solid black;
    margin-top:25px;
}

.input-img{
    width:450px;
    padding-top:5px;
}

.text-form, .submit-form, .email-form{
    margin-right:25px;
    width:250px
}

input[type], input[type="submit"], textarea{
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    border: 1px solid black;
    padding:5px 5px 5px 10px;
    margin-bottom:5px;
}
.image-container img, .images-div{
    border-radius: 5px;
    border: 1px solid black;
}
.contact-form{
    width: 100%;
    margin:auto;
    text-align:center;
}
.contact-form textarea{
    width:80%;
    margin-bottom:25px;
}
.contact-form input, .contact-form textarea{
    display:inline-block;
}

.title-img, .descrpt-img{
    position:relative;
    display:block;
    text-align:center;
    margin:auto;
    margin-top:25px;
}

