{% extends "layout.html" %}

{% block content %}
    <main class="about">
        <div class="container">
            <h3>Store and Share favorite images</h3>
            <p>Image Linker is a web app that ....</p>
        </div>    
    </main>
{% endblock %}