{% extends "layout.html" %}

{% block content %}
    <main class="contact">
        <div class="container">
            <h2>Contact us</h2>
            <form method="POST" class="contact-form">
                <textarea rows="4" cols="50" name="contact-text" placeholder="Type your message here" required class="text-form"></textarea>
                <input type="email" name="contact-email" placeholder="useremail@email.domain" required class="email-form">
                <input type="submit" name="submit-text" class="submit-form" value="Send">
            </form>
        </div>
    </main>
{% endblock %}