<!DOCTYPE html>
<html>
<head>
    <title>dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}" type="text/css">
</head>
<body>
    <h1>Wellcome</h1>
    <a>Logout</a>
</body>
<html>