<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <style>
        .container{
            width: 100%; 
            height: 100%; 
            margin:auto;
            text-align: center;
        }
        img{
        width:500px;
        height:500px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>{{ image_obj.title }}</p>
        <img class="ul_img" src="data:;charset=utf-8;base64, {{ image_file }}"/>
        <p>{{ image_obj.description }}</p>
        <p>{{ image_obj.date }}</p>
    </div>
</body>
</html>    