{% extends "layout.html" %}

{% block content %}
	<main>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" id="image-input" name="file" hidden required/>
                <input type="button" name="upload-image" onclick="document.getElementById('image-input').click()" value="Upload Image" class="upload-img" style="{{ visibility }}" required />
                <p>{{ uploaded_image.get('title', '') }}</p>
                <p>{{ uploaded_image.get('link', '') }}</p>
                <div class="image-container">
                    <img src="data:;charset=utf-8;base64, {{ home_image }}"">
                </div>
                <p>{{ uploaded_image.get('date', '') }}</p>
                <p>{{uploaded_image.get('description', '') }}</p>
                <input type="text" name="image-name" class="title-img"  placeholder="title" required style="{{ visibility }}">
                <textarea rows="4" cols="50" name="image-description" placeholder="Description" class="decript-img"  style="{{ visibility }}"></textarea>
                <input type="submit" name="submit-image" class="submit_img" value="Subbmit Image" style="{{ visibility }}">
            </form>
            <div class="images-div">
                <ul class="list-images">
                    {% for image in list_images %}
                        <li>
                            <p>Title: {{ image[0].title }}</p>
                            <p>https://imagelinkr.herokuapp.com/{{image[0].urn}} </p>
                            <img class="ul_img" src="data:;charset=utf-8;base64, {{ image[1] }}" style="width:150px; height:150px;"/>
                            <p>Uploaded on: {{ image[0].date }}</p>
                            <p>Description: {{ image[0].description }}</p>
                       </li>
                    {% endfor %}
                </ul>
            </div>
        </div>          
	</main>
{% endblock %}