<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main>
    <h1>Login</h1>
    <div class="error" hidden>{{ message }}</div>
    <form method="POST" action="/dologin">
            <input type="email" placeholder="Email" name="email" required>
            <br>
            <input type="password" placeholder="Password" name="password" required>
            <br>
            <input type="submit" name="login" value="Login" class="submit_img">
    </form>
</main>
</body>
<html>