<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main>
    <h1>signup</h1>
    <form method="POST" action="/dosignup">
            <input type="text" placeholder="Full Name" name="email" required>
            <br>
            <input type="email" placeholder="Email" name="email" required>
            <br>
            <input type="email" placeholder="Retype Email" name="email" required>
            <br>
            <input type="password" placeholder="Password" name="password" required>
            <br>
            <input type="password" placeholder="Retype Password" name="password" required>
            <br>
            <input type="submit" value="Signup" name="signup" class="submit_img">
    </form>
</main>
</body>
<html>